html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#map {
    height: 100%;
    width: 100%;
}
#selectBasemap {
    position: absolute;
    top: 16px;
    right: 20px;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
}
#selectCood {
    position: absolute;
    top: 16px;
    right: 100px;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
}